.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
}

.box {
    color: #fff;
    text-align: center;
    padding-top: 2%;
    font-size: x-large;
    font-weight: bold;
}

.one {
    background-color: #acf4b6;
}

.two {
    background-color: #ffe975;
}

.three {
    background-color: #5efffa;
}

.four {
    background-color: #e6b4fd;
}

.five {
    background-color: #8dfecd;
}

.six {
    background-color: #fd9a5c;
}